html {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

.App {
  text-align: center;
  color: var(--text-100);
  background-color: var(--bg-100);
  font-size: 1rem;
  line-height: 1.6;
  font-family: var(--font-primary),var(--font-secondary);
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.App-main {
  background-color: var(--bg-100);
  width: 100vw;
  position: relative;
}

.App-main p {
  margin-top: 0;
}

.App-main h2, .footerComponent h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.25;
}

.App-main img {
  max-width: 100%;
  display: inline-block;
}

.App-main *{
  box-sizing: border-box;
}
