h1{
    color: blue
}

#info{
    /* em manes increased 1.5 times larger */
    line-height: 1.5em; 
}

a{
    text-decoration: none;
    color: blue
}

a:hover{
    color: violet;
}

body{
    background-color: beige;
    padding-left: 150px;
    padding-right: 20px;
}

h2{
    color: blue;
    border-bottom: 1px solid;
}

.sidebar{
    position:fixed;
    top:0;
    left:0;

    background-color: bisque;
    height: 100%;
    width: 100px;

    font-size: 1.2em;
    line-height: 1.5em;

    padding-top: 20px;
    padding-left: 18px;
}