/* Text Decoration */
.underline {
    text-decoration: underline;
}

/* Hero Section */
.sigparser-hero-container {
    display: flex;  
    justify-content: center; 
    align-items: center; 
    height: auto;
    width: 100%; 
    padding: 10vw 0 10vw 0;
}

.grid-1-3-col-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    align-items: start;
}

/* Home Section */
.grid-1-1half-col-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr; 
    gap: 20px;
    width: 100%;
}  
  
.video-container video {
    width: 100%;
    height: auto; 
    object-fit: cover;
}

.video-container .rounded-left {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
  
.text-container {
    height: 100%;
    padding: 1vw 6vw 1vw 3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.phase-1-description {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sigparser-tech-graphics {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
    width: 100%;
}

.sigparser-tech-graphics * {
    width: 80%;
    height: auto;
}

.sigparser-tech-graphics svg:hover,
.sigparser-tech-graphics img:hover {
    transition: transform 0.3s ease;
    transform: scale(1.1);
}

/* Phase Sections */
.sigparser-phase-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 10vw;
}

.sigparser-phase-video {
    border-radius: 15px;
    margin-bottom: 12px;
}

.sigparser-phase-title{
    margin-top: 12px;
}

/* Overview Section */
.sigparser-overview-container {
    display: flex;  
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: auto; 
    width: 100%; 
    padding: 10vw 0 10vw 0;
}

.sigparser-overview-details {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start; 
    width: 100%;
}

/* Tech Stack Section */
.tech-stack {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
  
.tech-stack svg {
    width: 80%;
    height: auto;
}

.tech-stack svg:hover,
.tech-stack img:hover {
    transition: transform 0.3s ease;
    transform: scale(1.1);
}