.aboutMeContent {
  grid-column-gap: 3vw;
  grid-row-gap: 1.25sw;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1.75fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.aboutMeContent-Left {
  width: 100%;
}

.aboutMeContent-Right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.aboutMeText {
  padding-left: 2vw;
}

.imageWrapper {
  flex: 1; 
}
  
.imageWrapper img {
  border-radius: 5%;
  width: 25%;
  height: auto;
  display: block;
  position: relative;
  margin-left: auto;
}
  
.aboutMeTopImage {
  z-index: 1;
  margin-right: 15%;
}

.aboutMeBottomImage {
  position: absolute; 
  border-radius: 15%;
  width: 100%;
  height: 100%;
}

.negativeMarginS {
  margin-top: -5vw;
}
