:root{
    /* Color Variables */
    --text-100: #000000;
    --text-200: #FFFFFF;
    --accent-100: #707B6A;
    --accent-200: #76B162;
    --bg-100: #D2DDCD;
    --bg-200: #404A3B;
      
    /* Font Variables */
    /* --font-primary: 'Erode', serif;
    --font-secondary: 'Satoshi', sans-serif; */

    --font-primary: 'Open Sans', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
}