.footerTop {
    grid-column-gap: 2rem;
    grid-row-gap: 4rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}
  
.footerEmailLink {
    text-decoration: none;
}
  
.footerRight {
    justify-self: center;
}
  
.personWrapper {
    grid-template-rows: auto;
    grid-template-columns: auto 1fr;
    grid-auto-columns: 1fr;
    align-items: center;
    display: flex;
}
  
.footerImageWrapper {
    grid-template-rows: 2rem;
    grid-row-gap: 2rem;
    flex: none;
    grid-template-rows: auto;
    grid-template-columns: auto 1fr;
}
  
.footerImage {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    border-radius: 50%;
}
  
.footerSocialWrapper {
    grid-column-gap: 1.25rem;
    grid-row-gap: 1rem;
    grid-template-rows: auto;
    grid-template-columns: max-content;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    display: grid; 
    margin-left: 8rem;
}
  
.footerSocialLink {
    justify-content: center;
    align-items: center;
    transition: color .3s ease-out;
}
  
.svgIcon {
    width: 2.5rem;
    height: 2.5rem;
}
  