.Navigation {
  position: fixed;
  left: 0%;
  right: 0%;
  z-index: 1000;
  height: 5rem;
}
  
.navLinks {
  height: 5rem;
  width: 100%;
  max-width: 110rem;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.navLinkElem {
  align-items: center;
  justify-content: space-between;
  display: flex;
  color: var(--text-100);
  text-decoration: none;
}

.navLinks-Left, .navLinks-Right{
  display: flex;
  gap: 5rem;
}

.navLinks-Right {
  display: flex;
  flex-direction: row;
}
  
.resumeButton{
  padding: 10px;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  background-color: var(--accent-200);
}

.sticky {
  position: fixed;
  background-color: rgba(210,221,205, 0.7); 
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px);
  height: 5rem;
  max-width: 100%;
  animation: dropdown 0.5s ease-in-out forwards;
}
  
@keyframes dropdown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.heroSection {
  height: 95vh;
  width: 100%;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 100px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .fade-in {
    animation: fadeIn 2s ease forwards;
  }

.heroSection-Right {
  margin-right: 2.5rem;
}

.heroSection-imageWrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;
}

.heroSection-imageWrapper img {
  border-radius: 15%;
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  z-index: 1;
}

.heroSection-backgroundShape {
  position: absolute; 
  border-radius: 15%;
  width: 100%;
  height: 100%;
  background-color: var(--bg-200); 
  margin-left: 2.5rem;
}