.skillGalleryContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.skillGalleryIconStyling {
    width: 5rem;
    height: auto;
    transition: transform 0.5s ease;
}