.heroSection {
  width: 100%;
  height: 45.1vw;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.heroSection-Left, .heroSection-Right {
  float: left;
}

.heroSection-Left {
  width: 100%;
}

.resumeButton{
  padding: 1vw;
  text-decoration: none;
  border: none;
  border-radius: 1vw;
  background-color: var(--accent-200);
  width: 25%;
}

.resumeButtonLink{
  text-decoration: none;
  border: none;
  background-color: var(--accent-200);
}

.heroSection-Right {
  width: 30%;
  margin-right: 2.5vw;
}

.heroSection-imageWrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;
}

.heroSection-imageWrapper img {
  border-radius: 15%;
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  z-index: 1;
}

.heroSection-backgroundShape {
  position: absolute; 
  border-radius: 15%;
  width: 100%;
  height: 100%;
  background-color: var(--bg-200); 
  margin-left: 2.5vw;
}