.projectsSection {
    width: 100%;
    padding-top: 10vh;
    /* Accounting for navigation height */
    height: calc(100vh - 10vh);
    justify-content: space-evenly;
}

/* Used to layout the three sections: prev, current, next */
.projectLayout {
    height: calc(100vh - 10vh);
    /* Ensuring the project content is vertically centered */
    padding-bottom: 10vh; 
    display: grid;
    grid-template-columns: 15vw 1fr 15vw;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.transitionText {
    transform: rotate(270deg); 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.transitionText:hover {
    color: var(--accent-200)
}

.currentProject{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    transition: opacity 0.5s ease-out;
    opacity: 0;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
  
.currentProject.show {
    opacity: 1;
}

.currentProjectGrid {
    width: 100%;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.currentProjectDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vw; 
}

.projectSpecificsRow {
    display: flex;
    flex-direction: row;
    white-space: pre-wrap;
}

.projectEyeCatcherContainer {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1024px) {
    .currentProjectGrid {
        grid-template-columns: 1.75fr 0.5fr;
    }
}

@media (max-width: 768px) {
    .currentProjectGrid {
        grid-template-columns: 1.75fr 1fr;
    }
}

@media (max-width: 480px) { 
    .projectEyeCatcherContainer {
        display: none;
    }

    .currentProjectGrid {
        grid-template-columns: 1.5fr;
    }
}