.projectsSection {
    width: 100%;
    padding-top: 10vh;
    /* Accounting for navigation height */
    height: calc(100vh - 10vh);
    justify-content: space-evenly;
}

/* Used to layout the three sections: prev, current, next */
.projectLayout {
    height: calc(100vh - 10vh);
    /* Ensuring the project content is vertically centered */
    padding-bottom: 10vh; 
    display: grid;
    grid-template-columns: 15vw 1fr 15vw;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.transitionText {
    transform: rotate(270deg); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.currentProject{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    transition: opacity 0.5s ease-out;
    opacity: 0;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
  
.currentProject.show {
    opacity: 1;
}

.currentProjectGrid {
    width: 100%;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.currentProjectDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vw; 
}

.projectImageWrapper {
    flex: 1;
    width: 100%;
    height: auto;
}

.projectImage {
    width: 100%;
    height: 30vw;
    border-radius: 0.5vw;
}

.projectIconsContainer {
    display: flex;
    flex-direction: row;
    padding-left: 2vw;
}

.projectSpecificsRow {
    display: flex;
    flex-direction: row;
    white-space: pre-wrap;
}

.projectFeatures {
    list-style-type: disc;
    padding-left: 2.5vw;
}

.projectIconStyling {
    fill: var(--bg-200);
}

.projectSVGIcons {
    width: 2vw;
    height: 2vw;
}

.projectEyeCatcherContainer {
    width: 100%;
    display: flex;
    align-items: flex-end;
}

@media (max-width: 1024px) {
    .projectImage {
        height: 32vw;
    }

    .currentProjectGrid {
        grid-template-columns: 1.75fr 0.5fr;
    }

    .projectSVGIcons {
        padding-top: 0.5vw;
        width: 3vw;
        height: auto;
    }

}

@media (max-width: 768px) {
    .projectImage {
        height: 37vw;
    }

    .currentProjectGrid {
        grid-template-columns: 1.75fr 1fr;
    }

    .projectIconStyling {
        display: none;
    }
}

@media (max-width: 480px) { 
    .projectEyeCatcherContainer, .projectIconsContainer {
        display: none;
    }

    .currentProjectGrid {
        grid-template-columns: 1.5fr;
    }

    .projectImage {
        height: 40vw;
    }
}