.tesimonialsSection {
    display: block;
  }

.testimonialsComponent {
    width: 100%;
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
    background-color: transparent;
    grid-template: "Area"/1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
    position: relative;
}
  
.testimonial {
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    align-content: start;
    justify-content: start;
    align-items: stretch;
    justify-items: start;
    padding: 3vw 2vw;
    display: grid;
    border-radius: 10px;
}

.testimonial p{
    margin-top: 0;
    margin-bottom: 0;
}
  
.testimonialClient {
    grid-template-rows: auto;
    grid-template-columns: auto 1fr;
    grid-auto-columns: 1fr;
    align-items: center;
    display: flex;
}
  
.testimonialImageWrapper {
    flex: none;
    margin-right: 1vw;
}
  
.testimonialImage {
    width: 3vw;
    height: 3vw;
    object-fit: cover;
    border-radius: 50%;
}
 
@media (max-width: 768px){
    .testimonial{
        padding: 3vw 1.5vw;
    }
}

@media (max-width: 480px) { 
    .testimonialImageWrapper {
        display:none;
    }
    
    .clientCompanyText{
        line-height: 4vw;
    }
}
