.breakout {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto auto;
    gap: 20px;
}
  
.details-grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.details-image-item img {
    width: 100%;
    height: auto;
}
  