.about-me-image {
  width: 300px;
  height: 300px;
}

.fun-image-layout {
  position: relative;
  width: 100%;
  justify-content: center;
  display: flex;
  height: 500px;
}

.image-stack {
  position: absolute;
  transition: transform 0.3s ease;
}

.image-stack:hover {
  transform: scale(1.1);
}

.image-1 {
  top: 0;
  left: 0;
  transform: rotate(-15deg);
  z-index: 3;
}

.image-2 {
  top: 160px;
  left: 220px;
  transform: rotate(10deg);
  z-index: 2;
}

.image-3 {
  top: 350px;
  left: 0;
  transform: rotate(-10deg);
  z-index: 1;
}
