.Navigation {
    position: fixed;
    left: 0%;
    right: 0%;
    z-index: 1000;
    height: 5vw;
}
    
.navLinks {
    height: 5vw;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
  
@media screen and (max-width: 100%){
    .navLinks, .navLinks-Left, .navLinks-Right {
        width: 100%;
    }
}
  
.navLinks-Left, .navLinks-Right{
    gap: 5vw;
    float: left;
}
  
.navLinks-Right {
    display: flex;
    flex-direction: row;  
}

.navElem {
    cursor: pointer;
    text-decoration: none;
    color: var(--text-100);
}

.mobile-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 50%;
    width: 50%;
    height: 100vh;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 1001; 
}

.closeNavSVGWrapper {
    width: 8vw;
    height: auto;
    padding-bottom: 4vw;
}

.mobile-menu-links {
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
    padding-top: 5vw;
    text-align: left;
}

@media (max-width: 480px) {
    .hamburgerSVGWrapper {
        width: 8vw;
        height: auto;
    }

    .navLinks {
        justify-content: flex-end;
        align-items: flex-end;
        height: auto;
    }
}