.projectDetailsContainer{
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    display: grid;
    width: 100%;
    gap: 2vw;
    padding-top: 2vw;
    padding-bottom: 5vw;
}

.projectDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: left;
    gap: 1vw;
}

.projectDescription {
    width: 90%;
}

.proejctSVGContainer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
}

.projectSVGIcon {
    width: 70%;
    height: auto;
}

/* Assuming this is acessed through svg classing */
.projectIconStyling {
    fill: var(--bg-200);
}

.projectDetailsImageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.projectDetailsImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5vw;
}
