.scroll-indicator {
  position: fixed;
  right: 2vw;
  top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 60vh;
}

.line {
  width: 2px;
  height: 100%;
  background-color: white;
  position: relative;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: -7px; /* Centers the dot on the line */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot-1 {
  top: 10%;
}

.dot-2 {
  top: 50%;
}

.dot-3 {
  bottom: 10%;
}

.scroll-indicator .dot.active {
  background-color: #433bff; /* Active color */
}
