.content-grid {
  --padding-inline: 1rem;
  --content-max-width: 1400px;
  --breakout-max-width: 1800px;

  --breakout-size: calc(
    (var(--breakout-max-width) - var(--content-max-width)) / 2
  );

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start] min(
      100% - (var(--padding-inline) * 2),
      var(--content-max-width)
    )
    [content-end]
    minmax(0, var(--breakout-size)) [breakout-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
  grid-column: content;
}

.content-grid > .breakout {
  grid-column: breakout;
}

.content-grid > .full-width {
  grid-column: full-width;
  /* Taken out because it would not allow flexbox */
  /* display: grid; */
  /* Taken out because woud only apply to bg */
  /* grid-template-columns: inherit; */
}

/* Grids */
.grid-1-1-col-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  align-items: center;
}

.grid-1-1half-col-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 20px;
  width: 100%;
  align-items: center;
}

.grid-1half-1-col-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 20px;
  width: 100%;
  align-items: center;
}

.grid-1-3-col-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
  align-items: center;
}

/* Button */
.button-styles {
  padding: 0.2vw 0.8vw;
  text-decoration: none;
  border: none;
  border-radius: 1vw;
  background-color: var(--accent-200);
  width: fit-content;
}

/* Padding */
.padding-bottom-m {
  padding-bottom: 5vw;
}

/* Text Styling */
.text-color-sec {
  color: var(--accent-100);
}

.text-color-bg {
  color: var(--bg-100);
}

.text-xs {
  font-size: 0.8vw;
  line-height: 1.5;
}

.text-s {
  font-size: 1vw;
  line-height: 1.8;
}

.text-m {
  font-size: 2.5vw;
  margin: 0;
  margin-bottom: 0;
  line-height: 1.6;
}

.text-l {
  font-size: 4vw;
  margin: 0;
  line-height: 1;
  font-weight: 150;
}

.text-xs,
.text-s,
.text-m {
  font-weight: 500;
}

.text-muted {
  opacity: 0.8;
}

.text-align-left {
  text-align: left;
}

/* Other */
.link-styles {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

/* Old css */

@media (max-width: 1024px) {
  .paddingGlobal {
    padding-left: 10vw;
    padding-right: 10vw;
  }

  .textSizeXS {
    font-size: 1.5vw;
  }

  .textSizeS {
    font-size: 2.25vw;
  }

  .textSizeM {
    font-size: 3.5vw;
    margin: 0;
    margin-bottom: 0;
  }

  .textSizeL {
    font-size: 7vw;
    margin: 0;
    line-height: 1;
    font-weight: 150;
  }

  .textSizeM,
  .textSizeL {
    line-height: 1.25em;
  }

  .textSizeS {
    line-height: 1.5em;
  }
}

@media (max-width: 768px) {
  .paddingGlobal {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .textSizeXS {
    font-size: 1.5vw;
  }

  .textSizeS {
    font-size: 2.5vw;
  }

  .textSizeM {
    font-size: 4vw;
    margin: 0;
    margin-bottom: 0;
  }

  .textSizeL {
    font-size: 7vw;
    margin: 0;
    line-height: 1;
    font-weight: 150;
  }

  .textSizeM,
  .textSizeL {
    line-height: 1.25em;
  }

  .textSizeS {
    line-height: 1.5em;
  }
}

@media (max-width: 480px) {
  .paddingGlobal {
    padding-left: 2vw;
    padding-right: 2vw;
  }

  .textSizeXS {
    font-size: 3vw;
  }

  .textSizeS {
    font-size: 4vw;
  }

  .textSizeM {
    font-size: 6vw;
    margin: 0;
    margin-bottom: 0;
  }

  .textSizeL {
    font-size: 8vw;
    margin: 0;
    line-height: 1;
    font-weight: 150;
  }

  .textSizeS,
  .textSizeM,
  .textSizeL {
    line-height: 1.5em;
  }
}
