:root{
    /* Color Variables */
    --text-100: #f0f0f0;
    --text-200: #2F27CE;
    --accent-100: #433BFF;
    --accent-200: #DEDCFF;
    --bg-100: #1b1918;
    --bg-200: #404A3B;
      
    /* Font Variables */
    --font-primary: "Open Sans", sans-serif;
    --font-secondary: 'Satoshi', sans-serif; 
}