:root {
  /* Color Variables */
  --text-100: #f0f0f0;
  --text-200: #2f27ce;
  --accent-100: #433bff;
  --accent-200: #dedcff;
  --bg-100: #1b1918;
  --bg-200: #404a3b;

  /* Font Variables */
  --font-primary: 'Open Sans', sans-serif;
  --font-secondary: 'Satoshi', sans-serif;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  line-height: 2vw;
  text-align: center;
  color: var(--text-100);
  background-color: var(--bg-100);
  font-family: var(--font-primary), var(--font-secondary);
}

.App-main img {
  max-width: 100%;
}

.App-main * {
  box-sizing: border-box;
}

.content-grid {
  --padding-inline: 1rem;
  --content-max-width: 1400px;
  --breakout-max-width: 1800px;

  --breakout-size: calc(
    (var(--breakout-max-width) - var(--content-max-width)) / 2
  );

  display: grid !important;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start] min(
      100% - (var(--padding-inline) * 2),
      var(--content-max-width)
    )
    [content-end]
    minmax(0, var(--breakout-size)) [breakout-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
  grid-column: content;
}

.content-grid > .breakout {
  grid-column: breakout;
}

.content-grid > .full-width {
  grid-column: full-width;
  /* Taken out because it would not allow flexbox */
  /* display: grid; */
  /* Taken out because woud only apply to bg */
  /* grid-template-columns: inherit; */
}
