.projectContainer{
    grid-template-columns: 1fr 1.25fr;
    align-items: center;
    justify-content: center;
    display: grid;
    width: 100%;
    gap: 2vw;
}

.chatbotDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: left;
    gap: 1vw;
}

.chatbotDescription {
    width: 80%;
}

.chatbotImageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.chatbotImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5vw;
}